
// Header
div.hero.header {
  background-color: #e3120b;
  color: white;

  h1.title.is-2 {
    color: white;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
  }

  h2.subtitle.is-5 {
    color: white;
    font-family: 'Manjari', sans-serif;
    font-weight: 700;
  }
}

// Navbar
.navbar.is-dark {
  font-family: 'Bellota Text', sans-serif;
  font-weight: 700;
}