@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,700;1,400;1,700&family=News+Cycle:wght@400;700&family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap');

// Header
div.hero.header {
  background-color: #e3120b;
  color: white;

  h1.title.is-2 {
    color: white;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
  }

  h2.subtitle.is-5 {
    color: white;
    font-family: 'Manjari', sans-serif;
    font-weight: 700;
  }
}

// Navbar
.navbar.is-dark {
  font-family: 'Bellota Text', sans-serif;
  font-weight: 700;
}