@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,700;1,400;1,700&family=News+Cycle:wght@400;700&family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap');

.publisher-page {
  background-color: #fafafa;

  .container {

    h1.is-2 {
      color: #e3120b;
      font-family: 'Bellota Text';
      font-weight: 700;
      padding-bottom: 20px;
      border-bottom: 2px solid #e3120b;
    }
  }
}

.publisher-box {
  padding: 15px 10px;
  border-radius: 5px;
  background-color: #fafafa;

  h2.is-3 {
    font-family: 'Sen', sans-serif;
    margin-bottom: 0px;
  }

  p {
    font-family: 'Manjari', sans-serif;
    font-weight: 400;
  }

  hr {
    background-color: #e3120b;
    margin: 15px 0;
  }

  i.fa-external-link-alt {
    color: cadetblue;
  }

  button {
    font-family: 'Bellota Text', sans-serif;
  }
}

.publisher-box:hover {
  border: 2px solid #8abbd0;
  *:not(i) {
    font-style: italic;
  }

  button {
    font-weight: 700;
  }
}

