[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
djangorestframework = "*"
pyjwt = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
django-heroku = "*"
requests = "*"

[requires]
python_version = "3.8"
